*{
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #181D27;
    word-spacing: 2px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.header{
    font-weight: bold;
    text-align: center;
    color: rgb(119, 94, 94);
    padding-top: 10px;
}

body{
    background-color: #e6fffa;
}

button{
    border: none;
    background-color: #e6fffa;
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:active{
    outline: none;
}

.button-select{
    animation: shake 0.3s;
}

button:hover{
    box-shadow: 0 12px 16px rgba(0,0,0,0.09);
}

.display{
    margin: 0 auto;
    width: 250px;
    padding: 50px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: 800;
}

.container{
    padding-top: 50px;
    margin: 0 auto;
    width: 750px;
    position: relative;
}

.container img{
    height: 300px;
    width: 200px;
    margin: 15px;
}

.l-score{
    position: absolute;
    bottom: -55px;
    left: 60px;
}

.r-score{
    position: absolute;
    bottom: -55px;
    right: 55px;
}

.l-score,
.r-score{
    padding: 15px;;
    color: #151E3F;
    width: 190px;
}

.close-button{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    padding-top: 5px;
    margin: 5px;
    color: rgb(61, 35, 36);
    border: 1px solid rgba(187, 119, 120, 0.219);
    border-radius: 50%;
    background-color: #ffffff70;
}

.close-button:hover,
.close-button:active{
    cursor: pointer;
    color:#481620;
    background-color: #00000033;
    transition: 0.5s ease-in-out;
}

.box{
    background-color: #886176e8;
    width: 500px;
    height: 150px;
    border: 1px solid rgba(193, 110, 111, 0.199);
    border-radius: 15px;
    position: relative;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 0;
}

.dialog-box{
    position: absolute;
    top: 55px;
    left: 120px;
}

.play-again{
    display: block;
    padding: 10px;
    text-decoration: underline;
    color: rgb(61, 35, 36);
    background-color: #ffffff3b;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 12px 16px rgba(0,0,0,0.09);
    position: absolute;
    top: 92px;
    left: 185px;
}

.play-again:hover,
.play-again:active{
    cursor: pointer;
    color: #481620;
    background-color: #00000033;
    transition: 0.5s ease-in-out;
}